html, header, ul, body, main, footer, nav, div, a, section{
    border:0;
    margin:0;
    padding:0;
    box-sizing: border-box;

}

nav a:hover{
    font-weight: bold;

}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

p{
    display: flex;
    text-align: justify;
}


#Homepage2, #Homepage3, #Homepage4 {
    font-size: 5rem;
    margin: 3px;
    padding: 3px;
    background-size: cover;
    opacity: 0.5;
}

#Homepage1{
    background-repeat: no-repeat;
    background-size: cover;
}

#Homepage2:hover{
    color:white;
    font-size: 6rem;
    font-weight: bold;
    opacity: 1;
}
#Homepage3:hover{
    color:white;
    font-size: 6rem;
    font-weight: bold;
    opacity: 1;
}

#Homepage4:hover{
    color:white;
    font-size: 6rem;
    font-weight: bold;
    opacity: 1;
}
#Homepage1{
    background-image: url("../../../Downloads/yury-orlov-IF_ybK5uBP0-unsplash.jpg");
}

#Homepage2{
    background-image: url("../../../Downloads/william-iven-qhhrsA4_Vpo-unsplash.jpg");
}

#Homepage3{
    background-image: url("../../../Downloads/daria-nepriakhina-zoCDWPuiRuA-unsplash.jpg");
}

#Homepage4{
    background-image: url("../../../Documents/Screenshot\ 2019-12-02\ at\ 18.48.59.png");
}