body{
    display:flex;
    flex-flow:wrap;
    border: 2px solid black;
    justify-content:space-around;
    flex-flow: row-reverse wrap;
    }

div {
    display: flex;
    width: 400px;
    margin: 5px;
    flex-flow: row wrap;
    justify-content: center;
    background-color: grey;
    border:1px solid: black;
    }
    
p {
    display: flex;
    justify-items: center;
    flex-flow: row-reverse wrap;
    
}